*.db
*~
*.pyc
local_settings.py
*.mo
*.swp
*.swo
exec.sh
media/
hidden/
.project
.pydevproject
.settings/
\#*
.ropeproject
immigrationcenter/locale/
immigration_admin
isolation
merchant
order_management
syncmedia